{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}                          

    <h1 class="homeName">Hi! I'm <span class="name">Madeleine</span>,</h1>
    
    <h1 class="homeNameDesc">A Junior Full Stack Developer </h1>

    

    <h3 class="aboutMeTitle">About Me</h3>

    <p class="aboutMeText">I am a soon-to-be graduate of Temple University with a Bachelor's of Science in Neuroscience 
    and a minor in Information Science and Technology. My curiosities include AI and Neural Networks 
    and how such programs can be applied in business and healthcare.   </p>

    <body>
        <div class="socials">
            <ul>
                <li><a href="https://github.com/Maddepag/"> <i class= "fa fa-github"></i></a></li>
                <li><a href="https://linkedin.com/in/madeleine-depagnier-2022/"> <i class= "fa fa-linkedin"></i></a></li>
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=someone@example.com&su=SUBJECT&body=BODY&bcc=someone.else@example.com"> 
                    <i class= "fa fa-envelope"></i></a></li>
                <li><a href="/static/css/MD_RESUME.pdf"> <i class= "fa fa-file"></i></a></li>
    
            </ul>
        </div>






    </body>


{% endblock %}