{% extends "base.html" %} {% block title %} 
My Projects
{% endblock %}

{% block content %}   
<head>
  



</head>                      
<h3 class="myProjectsTitle">My Projects</h3>

<p class="todoAppHeader">« To-Do List Program</p>
<p class="todoAppDesc"> A simple Java program that allows a user to create a to-do list. 
    Using this program, users can track each task that they add and manage various details for their tasks.
    I am currently working on a full stack web application version of this program using Python,
    JavaScript, Django, and React. </p>

<p class ="myWeb">« My Website</p>
<p class ="webDesc">This website was written in Python, HTML, and CSS and uses the web framework Flask.  </p>




<h3 class="mySkillsTitle">My Skills</h3>

<p class="currentLang"><strong>Skills:</strong> Java, Python, HTML, CSS, & SQLDeveloper</p>
<p class="learningLang"><strong>Skills I'm Learning:</strong> JavaScript, Django, React, & C#</p>




{% endblock %}